*{
    margin: 0px;
    padding: 0px;
    /* border: 1px dotted red; */
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.user{
    display:flex;
}
form{
    display: flex;
    flex-direction: column;
    margin: 0px 10px;
}
.content{
    width: auto;
    height: 50px;
    /* margin: 0px 10px; */
    border: 1px solid black;
}
/* label{margin: 0px 10px;} */
article{
    padding: 10px;
}
article div,article form{
    margin-left: 30px;
}
article p{
    margin: 5px 0px;
}
